# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

_Objetives_
- Learn some popular lenguages for Data Science
- Learn some commonly used libraries used by Data Science
- Learn to make simple arithmetic codes on Jupyter

Some of the popular languages that Data Scientists use are:

- Python
- JavaScript
- Java

Some of the commonly used libraries used by Data Scientists include:

- Pandas
- NumPy
- Keras

|Data Science Tools|
|------------------|
|Spark|
|R Studioâ€™s|
|Weka|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
#This will convert 200 minutes to hours by diving by 60.
a=(200/60)

print((a),"Hours")

3.3333333333333335 Hours

Author
## Diego Armando Gutierrez Diaz